@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans&display=swap');
/*
	Fuentes del proyecto:
	font-family: 'Open Sans', sans-serif;
	font-family: 'Crimson Text', serif;
*/

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

body{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	background-size: cover;
	background-color: #fcfcfc;
}

h1, h2, h3 {
	font-family: 'Crimson Text', serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.profile-container {
	overflow: hidden;
	background-color: yellow;
}

.side-menu {
	background-color: yellow;
	width: 15%;
	height: 500px;
	float: left;
}

.side-menu-button {
	background-color: blue;
	width: 100%;
	height: 50px;
	padding: 5px;
	color: white;
	text-align: center;
}

.side-menu-button:hover {
	background-color: red;
}

.main-profile {
	float: left;
	background-color: yellow;
	width: 85%;
	/*height: 500px;*/
}

.profile-picture {
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.service-tab {
	width: 32%;
	background-color: #00ffff;
	border-radius: 3%;
	height: 300px;
	margin: 5px;
	float: left;
}

.img-service-tab {
	border-radius: 50%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.service-tab-button{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.page-header {
	height: 100px; /*Se lo bajé de 160 a 100 porque me parecía mucho. Discutible. Firma: Leandro*/
	margin-bottom: 10px;
	background-image: url('../images/patron-ladrillos.jpg');
	border-bottom: 1px solid #999;
}

.page-header-container {
	display: flex;
	height: 100%;
	padding-bottom: 20px;
	align-items: flex-end;
}

#logo {

}

.main-nav {
	width: 100%;
}

.main-nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.main-nav li {
	margin: 0 20px;
}

.main-nav a {
	display: block;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

#logo{
	font-family: sans-serif;
	color: #000;
	font-size: 35px;
	font-style: normal;
	font-weight: bold;
}

.page-footer {
	height: 80px;
	margin-top: 10px;
	background-image: url('../images/patron-ladrillos.jpg');
	border-top: 1px solid #999;
}

footer a{
	display: block;
	color: #000;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: auto;
}
section{
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 100px;
}

article{
	padding: 10px;
}

section article{
	width: 40%;
	height: 30vh;
	background-color: white;
	border: black 2px dashed;
	margin: 5px;
	float:left;
	color: black;
	text-align: justify;

}

section article a{
	float: right;
	padding: 20px;
	text-decoration: none;
	color: #000;
	background-color: orange;
}
